@model Nokatak.Models.Vote

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Vote</legend>

    <div class="display-label">nokta</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nokta.Body)
    </div>

    <div class="display-label">up</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.up)
    </div>

    <div class="display-label">userID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userID)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
